# Determine threshhold for "big swing" in each coin

In [55]:
# Import required libraries and dependencies

import pandas as pd
import os
import json
import requests
import numpy as np
from pycoingecko import CoinGeckoAPI

In [56]:
# Set Variable for coingecko API
cg = CoinGeckoAPI()

# Bitcoin (BTC)

In [81]:
# Call Bitcoin data from CoinGecko and create dataframe.  Date range from 01/01/2021 - 07/01/2022.

historical_btc = cg.get_coin_market_chart_range_by_id(id='bitcoin',vs_currency='usd',from_timestamp='1609515440',to_timestamp='1656689840')
btc_df = pd.DataFrame(historical_btc['prices'], columns=['unix_timestamp', 'price']).set_index('unix_timestamp')
btc_df.head()

                       price
unix_timestamp
1609545600000   29352.126792
1609632000000   32163.824935
1609718400000   33008.226203
1609804800000   31515.575967
1609891200000   34082.206049

In [64]:
#calculate pct_change, and turn into an absolute value
btc_change_df = pd.DataFrame(btc_df['price'].pct_change().dropna()).rename(columns={'price':'absolute_change'})
btc_change_df = np.absolute(btc_change_df)
btc_change_df

                absolute_change
unix_timestamp
1609632000000          0.095792
1609718400000          0.026253
1609804800000          0.045221
1609891200000          0.081440
1609977600000          0.083660
...                         ...
1656288000000          0.021977
1656374400000          0.014313
1656460800000          0.022598
1656547200000          0.008579
1656633600000          0.024872

[545 rows x 1 columns]

In [65]:
#calculate mean of pct_change
btc_threshold = btc_change_df.mean()
print(btc_threshold)

absolute_change    0.029452
dtype: float64

# ETHEREUM (ETH)

In [71]:
# Call Ethereum data from CoinGecko and create dataframe. Date range from 01/01/2021 - 07/01/2022.

historical_eth = cg.get_coin_market_chart_range_by_id(id='ethereum',vs_currency='usd',from_timestamp='1609515440',to_timestamp='1656689840')
eth_df = pd.DataFrame(historical_eth['prices'], columns=['unix_timestamp', 'price']).set_index('unix_timestamp')
eth_df.head()

                      price
unix_timestamp
1609545600000    730.147340
1609632000000    777.696065
1609718400000    967.000597
1609804800000   1025.654768
1609891200000   1103.358252

In [72]:
#calculate pct_change, and turn into an absolute value
eth_change_df = pd.DataFrame(eth_df['price'].pct_change().dropna()).rename(columns={'price':'absolute_change'})
eth_change_df = np.absolute(eth_change_df)
eth_change_df

                absolute_change
unix_timestamp
1609632000000          0.065122
1609718400000          0.243417
1609804800000          0.060656
1609891200000          0.075760
1609977600000          0.095361
...                         ...
1656288000000          0.034597
1656374400000          0.005838
1656460800000          0.042447
1656547200000          0.039026
1656633600000          0.037560

[545 rows x 1 columns]

In [73]:
#calculate absolute mean of absolute pct_change
eth_threshold = eth_change_df.mean()
print(eth_threshold)

absolute_change    0.038992
dtype: float64

# Ripple (XRP)

In [75]:
# Call XRP data from CoinGecko and create dataframe.  Date range from 01/01/2021 - 07/01/2022.

historical_xrp = cg.get_coin_market_chart_range_by_id(id='ripple',vs_currency='usd',from_timestamp='1609515440',to_timestamp='1656689840')
xrp_df = pd.DataFrame(historical_xrp['prices'], columns=['unix_timestamp', 'price']).set_index('unix_timestamp')
xrp_df.head()

                   price
unix_timestamp
1609545600000   0.237437
1609632000000   0.221870
1609718400000   0.225637
1609804800000   0.234618
1609891200000   0.226699

In [77]:
#calculate pct_change, and turn into an absolute value
xrp_change_df = pd.DataFrame(xrp_df['price'].pct_change().dropna()).rename(columns={'price':'absolute_change'})
xrp_change_df = np.absolute(xrp_change_df)
xrp_change_df

                absolute_change
unix_timestamp
1609632000000          0.065562
1609718400000          0.016977
1609804800000          0.039806
1609891200000          0.033755
1609977600000          0.113305
...                         ...
1656288000000          0.019037
1656374400000          0.018335
1656460800000          0.046011
1656547200000          0.023183
1656633600000          0.001125

[545 rows x 1 columns]

In [78]:
#calculate absolute mean of absolute pct_change
xrp_threshold = xrp_change_df.mean()
print(xrp_threshold)

absolute_change    0.044968
dtype: float64

# Cardano (ADA)

In [79]:
# Call Cardano data from CoinGecko and create dataframe.  Date range from 01/01/2021 - 07/01/2022.

historical_ada = cg.get_coin_market_chart_range_by_id(id='cardano',vs_currency='usd',from_timestamp='1609515440',to_timestamp='1656689840')
ada_df = pd.DataFrame(historical_ada['prices'], columns=['unix_timestamp', 'price']).set_index('unix_timestamp')
ada_df.head()

                   price
unix_timestamp
1609545600000   0.175679
1609632000000   0.178185
1609718400000   0.205037
1609804800000   0.218888
1609891200000   0.259212

In [80]:
#calculate pct_change, and turn into an absolute value
ada_change_df = pd.DataFrame(ada_df['price'].pct_change().dropna()).rename(columns={'price':'absolute_change'})
ada_change_df = np.absolute(ada_change_df)
ada_change_df

                absolute_change
unix_timestamp
1609632000000          0.014267
1609718400000          0.150699
1609804800000          0.067555
1609891200000          0.184221
1609977600000          0.280189
...                         ...
1656288000000          0.013764
1656374400000          0.009504
1656460800000          0.034029
1656547200000          0.010603
1656633600000          0.022571

[545 rows x 1 columns]

In [82]:
#calculate absolute mean of absolute pct_change
ada_threshold = ada_change_df.mean()
print(ada_threshold)

absolute_change    0.045519
dtype: float64

# Solana (SOL)

In [83]:
# Call Solana data from CoinGecko and create dataframe.  Date range from 01/01/2021 - 07/01/2022.

historical_sol = cg.get_coin_market_chart_range_by_id(id='solana',vs_currency='usd',from_timestamp='1609515440',to_timestamp='1656689840')
sol_df = pd.DataFrame(historical_sol['prices'], columns=['unix_timestamp', 'price']).set_index('unix_timestamp')
sol_df.head()

                   price
unix_timestamp
1609545600000   1.841141
1609632000000   1.802629
1609718400000   2.147708
1609804800000   2.421785
1609891200000   2.161869

In [84]:
#calculate pct_change, and turn into an absolute value
sol_change_df = pd.DataFrame(sol_df['price'].pct_change().dropna()).rename(columns={'price':'absolute_change'})
sol_change_df = np.absolute(sol_change_df)
sol_change_df

                absolute_change
unix_timestamp
1609632000000          0.020917
1609718400000          0.191431
1609804800000          0.127614
1609891200000          0.107324
1609977600000          0.110406
...                         ...
1656288000000          0.068133
1656374400000          0.025251
1656460800000          0.082466
1656547200000          0.039943
1656633600000          0.017704

[545 rows x 1 columns]

In [85]:
#calculate absolute mean of absolute pct_change
sol_threshold = sol_change_df.mean()
print(sol_threshold)

absolute_change    0.057073
dtype: float64

In [96]:
crypto_swing_thresholds = {'Coin':['BTC','ETH','XRP','ADA','SOL'],'pct_change_Threshold':[0.029452,0.038992,0.044968,0.045519,0.057073]}

swing_thresholds_df = pd.DataFrame(crypto_swing_thresholds).set_index('Coin')
swing_thresholds_df

      pct_change_Threshold
Coin
BTC               0.029452
ETH               0.038992
XRP               0.044968
ADA               0.045519
SOL               0.057073